@import "tailwindcss" source(none);
@source "../**/*.{js,ts,jsx,tsx}";

@import "./theme.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button {
  cursor: pointer;
}
